Checks: '-*,
bugprone-*,
cert-*,
clang-analyzer-*,
*-c,
misc-*,
modernize-*,
performance-*,
portability-*,
readability-*'
CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: 1
FormatStyle: 'file'
